body{
   
    cursor: pointer;
}

.flex_box{
    background-color:white;
    padding: 20px;
    border: 10px solid grey;
    flex-grow:1;
}

.flex_container{
    display:flex;
    justify-content: flex-start;
    width:60%;
    height: 40rem;
    background-color: grey;
    border: 10px solid grey;
    margin:2rem 0rem 0rem 15rem;
}

.fix{
    display:flex;
    height:100%;
    flex-direction: column;
    flex:1;
}

.expand{
    flex-grow:2;
    transition: 2s ease;
}

